{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "4.5"
        },
        "exclude": ["transform-regenerator"]
      }
    ]
  ],
  "plugins": ["transform-class-properties", "transform-object-rest-spread"]
}
