{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "4.5"
        }
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "transform-runtime",
      {
        "polyfill": true,
        "regenerator": true
      }
    ]
  ]
}
