{
  "extends": [
    "kentcdodds",
    "kentcdodds/prettier",
    "kentcdodds/jest"
  ],
  "rules": {
    "valid-jsdoc": "off",
    "max-len": "off",
    "semi": "off",
    "quotes": "off",
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
  }
}
